
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
} 
html{
    height: 100%;
}
body{
     background-image: linear-gradient( #9d75f9,#be3af2);  
    background-repeat: no-repeat;
}


h2{
    color: black;
    padding-bottom:20px;
    font-size: 25px;
    text-align: center;
}
.container{
    background-color: #ffffff;
    width: 25%;
    min-width: 350px; 
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 30px; 
    border-radius: 5px 50px 5px 50px;
    box-shadow:0 15px 30px black;
}

#subcontainer{
    /* position: relative; */
    background-color: #ffffff;
    padding: 20px; 
    border-radius: 5px;
    box-shadow:0 12px 35px #b8a0f1;
}
#subcontainer input{
    width: 75%;
    height: 35px;
    padding: 5px;
    font-size:14px ;
    border: none;
    border-bottom: 1px solid;    
    color: #111111;
    font-weight: 450;
    position: relative;
    border-radius: 5px; 
   
} 

 #subcontainer input:focus{
    outline: none;
    border-color: black;
} 

  #subcontainer button{
    position: relative;
    float: right;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    
}  

.title2{
    padding-top: 15px;
    font-size: 22px;
    text-align: center;
}
#list{
    background-color: #ffffff;
    padding: 15px  16px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 12px 35px #b8a0f1;
    width: 100%;
    position: relative;
    font-weight: 450 ;
}
.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid ;
    height: 35px;
    padding: 5px 10px;
    margin-bottom: 8px;
    cursor: pointer;
    display: flex;

}
img{
    width: 22px;
}

.task span{
    font-family:cursive;
    font-size: 17px;
    font-weight: 400;
    
}
.delete{
   
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 35px;
    border-radius: 5px;

}

.push:hover{
    background-color: #a582f7;
    color: #ffffff;
    border-color: #111111;
    box-shadow:0 12px 36px #b8a0f1;
}

